<div class="spot-container">
  <% spots.forEach((spot, index) => { %>
    <a href="<%= spot.link %>" class="spot spot<%= index + 1 %>">
      <img src="<%= spot.image %>" alt="<%= spot.title %>">
      <h3 class="spot-title"><%= spot.title %></h3>
    </a>
  <% }) %>
</div>