<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/search-result.css' />
    
    <script src="https://kit.fontawesome.com/9bc0025a3d.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
<body>
  <%- include('partials/header') %>
  <%- include('partials/mainlist') %>


  <h1>Hittade 3 produkter </h1>

  <% if (products.length > 0) { %>
    <%- include('partials/gallery', { products: products }) %>
  <% } else { %>
    <p>Inga produkter hittades.</p>
  <% } %>

  <%- include('partials/underIcons') %>
  <%- include('partials/footer') %>

  
</body>
</html>



